In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import json

In [2]:
df = pd.read_csv('ratings.csv')

In [3]:
df.head(20)

    userId  movieId  rating   timestamp
0        1      296     5.0  1147880044
1        1      306     3.5  1147868817
2        1      307     5.0  1147868828
3        1      665     5.0  1147878820
4        1      899     3.5  1147868510
5        1     1088     4.0  1147868495
6        1     1175     3.5  1147868826
7        1     1217     3.5  1147878326
8        1     1237     5.0  1147868839
9        1     1250     4.0  1147868414
10       1     1260     3.5  1147877857
11       1     1653     4.0  1147868097
12       1     2011     2.5  1147868079
13       1     2012     2.5  1147868068
14       1     2068     2.5  1147869044
15       1     2161     3.5  1147868609
16       1     2351     4.5  1147877957
17       1     2573     4.0  1147878923
18       1     2632     5.0  1147878248
19       1     2692     5.0  1147869100